<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csiqi.dao.webDao.AcDao" >
    <sql id="BASE_TABLE">
        ac_admin
    </sql>

    <sql id="BASE_COLUMN">
        f_ac_id,f_ac_adminid,f_ac_usernum,f_ac_name,f_ac_desc,f_ac_stats,f_ac_keys,f_ac_applyendtime,f_ac_begintime,f_ac_endtime,f_ac_address
    </sql>


    <select id="acList" resultType="com.csiqi.model.webVo.AcAdminVo">
        SELECT
        <include refid="BASE_COLUMN"/>,userName as f_ac_adminName
        FROM
        <include refid="BASE_TABLE"/> left JOIN t_user
        ON userId=f_ac_adminid
        ORDER BY  f_ac_id desc
    </select>

    <insert id="acAdd" parameterType="com.csiqi.model.webVo.AcAdminVo">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            f_ac_adminid,f_ac_usernum,f_ac_name,f_ac_desc,f_ac_applyendtime,f_ac_begintime,f_ac_endtime,f_ac_cdate,f_ac_udate,f_ac_address
            <if test="f_ac_keys != null">
                ,f_ac_keys
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{f_ac_adminid},#{f_ac_usernum},#{f_ac_name},#{f_ac_desc},#{f_ac_applyendtime},#{f_ac_begintime},#{f_ac_endtime},now(),now(),#{f_ac_address}
            <if test="f_ac_keys != null">
                ,#{f_ac_keys}
            </if>
        </trim>
    </insert>
</mapper>
