<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csiqi.dao.webDao.WebMessageDao" >
    <sql id="BASE_TABLE">
        t_message
    </sql>

    <sql id="BASE_COLUMN">
        f_message_fromUId,f_message_toUId,f_message_content,f_message_cTime,f_message_uTime
    </sql>

    <insert id="insertMessage" parameterType="com.csiqi.model.webVo.MessageVo">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{f_message_fromUId},#{f_message_toUId},#{f_message_content},now(),now()
        </trim>
    </insert>
    <select id="selectMessage" resultType="com.csiqi.model.webVo.MessageVo" parameterType="com.csiqi.model.webVo.MessageVo"><!--查询未读消息 -->
        SELECT
            sms.f_message_content,
            sms.f_message_fromUId,
            sms.f_message_toUId,
            u.userName,
            COUNT(1) AS allcount
        FROM
            t_message AS sms,
            t_user AS u
        WHERE
            f_message_fromUId = userId
        AND f_message_status = '1'
        AND f_message_toUId = #{f_message_toUId}
        GROUP BY
            f_message_fromUId
       /* ORDER BY
            f_message_cTime DESC*/
    </select>
    <select id="selectMessageByFromUId" resultType="com.csiqi.model.webVo.MessageVo" parameterType="com.csiqi.model.webVo.MessageVo"><!--查询未读消息 -->
        SELECT
        sms.f_message_content,
        sms.f_message_fromUId,
        sms.f_message_toUId,
        sms.f_message_cTime,
        u.userName
        FROM
        t_message AS sms,
        t_user AS u
        WHERE
        f_message_fromUId = userId
        /*AND f_message_status = '1'*/
        AND f_message_toUId in (#{f_message_toUId},#{f_message_fromUId})
        AND f_message_fromUId in (#{f_message_toUId},#{f_message_fromUId})
        ORDER BY
            f_message_cTime ASC
    </select>
    <select id="readMessageById"  parameterType="com.csiqi.model.webVo.MessageVo"><!--更改未读消息 为已读-->
        UPDATE t_message SET f_message_status='2' where f_message_fromUId=#{f_message_fromUId} and f_message_toUId=#{f_message_toUId}
        <![CDATA[and f_message_cTime <=now()]]>
    </select>
</mapper>
